@font-face {
  font-family: "Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: "Sansus";
  src: url("../fonts/Sansus-Webissimo-Regular.ttf") format("TrueType");
}
